{% extends 'index.html' %}

{% block content %}
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Autor</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {% for g in context.projects %}
        <tr>
          <th scope="row">{{ g.id }}</th>
          <td>{{ g.name }}</td>
          <td>{{ g.owner.name }}</td>
          <td>
            <div class="row">
              <div class="col-6">
                <a href="/gitlab/{{ g.id }}">
                  <i class="fas fa-play"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}